.root {
  padding-bottom: 50px;

  li {
    display: inline-block;
  }

  a {
    cursor: pointer;
    color: #EB5A1E;
    font-size: 25px;
    font-weight: 500;
    border: 2px solid #EB5A1E;
    border-radius: 10px;
    padding: 5px;
    margin: 0 5px;

    &:hover {
      background: #EB5A1E;
      color: #FFFFFF;
      transition: 0.5s all;
    }
  }


  :global {
    .selected {
      a {
        background-color: #EB5A1E;
        color: #FFFFFF;
      }
    }
  }
}